@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*** Color Variables ***/

$primary-dark-blue: #1b116c;
$primary-light-blue: #00BBF0;
$secondary-dark-blue: #00204A;
$primary-black: #0C0C0C;
$primary-white: #FFFFFF;
$secondary-white: #FEFEFE;

/*** Font Variables ***/

$main-font:  'Open-Sans', sans-serif;
